<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="titulo">
        <h1> Contactos Guardados: </h1>
    </div>

    <div class="contactos1">
        <h2> {{ d1.nomb }} {{ d1.apell }} </h2>
        <p> Email: {{ d1.mail }} </p>
        <p> Telefono: {{ d1.tel }} </p>      
    </div>

    <div class="contactos2">  
        <h2> {{ d2.nomb }} {{ d2.apell }} </h2>
        <p> Email: {{ d2.mail }} </p>
        <p> Telefono: {{ d2.tel }} </p>     
    </div>

    <div class="contactos3">
        <h2> {{ d3.nomb }} {{ d3.apell }} </h2>
        <p> Email: {{ d3.mail }} </p>
        <p> Telefono: {{ d3.tel }} </p> 
    </div>
    
    <div class="fecha">
        <h3> {{ dia }} </h3>
    </div>
    
</body>
</html>